.console-container {
  // background-color: rgba(155,155,155,0.5);
  background-color: #0A0B1A;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid gray;
  font-family: 'Courier New', monospace;
  color: #E3F2FC;
  text-align: left;
  max-height: 100%;
  position: relative;
}

.console-container:hover {
  cursor: pointer;
  border: 1px solid #E3F2FC;
  // color: gray;
}

.run-code-container {
  position: absolute;
  z-index: 5;
  top: 50%;
  margin-top: -160px;
  left: 50%;
  margin-left: -100px;
  background-color: #0A0B1A;
}

.run-code-container:hover {
  cursor: pointer;
}

.run-code-container img {
  height: 150px;
  width: 150px;
}

.console-container:hover img {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490189938/console_filled_grjlew.png');
}

.run-code-button {
  border-radius: 12px;
  // border: 1px solid #E3F2FC;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  // padding: 16px 24px 12px 16px;
}

.run-code-button p {
  font-size: 34px;
  color: #0A0B1A;
  margin-top: 8px;
}

.console-container:hover #run-code-text {
  color: white;
}
