.note-header-container {
  height: 120px;
  // width: 100%;
  // background-color: rgba(255,0,0,0.3);
}

.note-header {
  padding: 18px 0px;
  width: 100%;
  height: 100%;
  color: #E3F2FC;
  height: 90px;
}

.editor-question-container {
  // background-color: rgba(155,155,155,0.5);
  background-color: #0A0B1A;
  width: calc(100% - 36px);
  height: calc(100% - 36px);
  border-radius: 12px;
  border: 1px solid gray;
  color: #E3F2FC;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  max-height: 100%;
  margin: 16px;
}

.header-question {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  // height: 80px;
  margin: 24px 18px;
}

.editor-question-container .public-DraftEditor-content {
  min-height: calc(100% - 80px);
  max-height: calc(100% - 80px);
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
  padding: 20px 10px;
  margin: 6px 2px;
  overflow: scroll;
  word-break: keep-all;
  word-wrap: normal;
  position: absolute;
  display: block;
}

// .cancel {
//   position: absolute;
//
// }

.cancel {
  position: relative;
  z-index: 5;
  background-color: #0A0B1A;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  right: 12px;
  bottom: 10px;
}

.cancel img {
  height: 30px;
  width: 30px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

.cancel img:hover {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490215536/cancel_filled_exh902.png');
}
