.note-container {
  flex: 1 1 auto; // take up remainder of width
  background-color: #0A0B1A;
  margin: 28px;
  border-radius: 12px;
  border: 1px solid gray;
  // display: flex;
  // justify-content: center;
}

.note {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // max-height: 100%;
  // justify-content: center;
}

//////////////////////
// NULLNOTE MESSAGE //
//////////////////////

.null-note-message {
  position: relative;
  height: 90%;
  text-align: center;
}

.null-note-message::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}

.null-note-message p,
.null-note-message span {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 200;
  color: gray;
}

.null-note-message span {
  color: #56b2ba;
}

.null-note-message span:hover {
  cursor: pointer;
  color: #0b78e3;
}

.congrats-container {
  // background-color: yellow;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
}

.congrats-container img {
  height: 120px;
  width: 120px;
  // background-color: orange;
}

.congrats-container h1 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.congrats-container h2 {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

#blank-space {
  height: 100px;
}

.congrats-container span {
  color: #56b2ba;
}

.congrats-container span:hover {
  cursor: pointer;
  color: #0b78e3;
}
