.note-body-container {
  // background-color: rgba(20,20,155,0.3);
  height: 100%;
}

.note-body {
  // background-color: rgba(0,255,0,0.3);
  display: table;
  height: 100%;
  width: 100%;
}

.editor-ccc {
  display: table-cell;
  width: 50%;
}

#editor-left {
  padding-left: 16px;
  padding-right: 8px;
}

#editor-right {
  padding-left: 8px;
  padding-right: 16px;
}

.editor-cc {
  position: relative;
  height: 100%;
  width: 100%;
}

.static-cc {
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 14px 0px 28px 0px;
  padding-top: 8px;
}

.static-cc > .editor-label {
  color: #484951;
  // height: 100%;
}

.editor-cc > .editor-label {
  color: gray;
  margin: 0px 0px 3px 7px;
}

.editor-cc:hover > .editor-label {
  color: #E3F2FC;
}

.editor-cc > .question-editor-label {
  color: gray;
  margin: 10px 0px 0px 22px;
}

.editor-cc:hover > .question-editor-label {
  color: #E3F2FC;
}

.editor-container {
  // background-color: rgba(155,155,155,0.5);
  background-color: #0A0B1A;
  width: 100%;
  height: calc(100% - 28px);
  border-radius: 12px;
  border: 1px solid #484951;
  font-family: 'Courier New', monospace;
  color: #E3F2FC;
  text-align: left;
  max-height: 100%;
}

.editor-container:hover, .editor-question-container:hover {
  border: 1px solid gray;
}

.editor-container * {
  max-height: inherit;
  justify-content: center;
}

.public-DraftEditor-content {
  min-height: calc(100% - 24px);
  max-height: calc(100% - 24px);
  min-width: calc(100% - 24px);
  max-width: calc(100% - 24px);
  padding: 6px 10px;
  margin: 6px 2px;
  overflow: scroll;
  // word-break: keep-all;
  // word-wrap: normal;
  // overflow-wrap: none;
  position: absolute;
  display: block;
  white-space: nowrap;

  // z-index: -1
}

.public-DraftEditor-content * {
  // overflow-wrap: none;
  // word-wrap:
  // white-space: nowrap;
  // overflow: scroll;

}
