.login-form-container {
  background-color: #1A1B25;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  background-color: #0A0B1A;
  border-radius: 15px;
  padding: 25px;
}


// struct CustomColor {
//
//     static let gray = UIColor(red:0.180, green:0.184, blue:0.220, alpha:1.00) // Borders
//
//     static let dark1 = UIColor(red:0.102, green:0.106, blue:0.145, alpha:1.00) // Main Dark #1A1B25
//     static let dark2 = UIColor(red:0.039, green:0.043, blue:0.102, alpha:1.00) // Secondary Dark #0A0B1A
//
//     static let pinkHot = UIColor(red:0.988, green:0.180, blue:0.451, alpha:1.00)
//     static let pinkPale = UIColor(red:0.984, green:0.380, blue:0.863, alpha:1.00)
//     static let pinkRegular = UIColor(red:0.914, green:0.220, blue:0.549, alpha:1.00)
//
//     static let blueLight = UIColor(red:0.392, green:0.729, blue:0.757, alpha:1.00)
//     static let blueDark = UIColor(red:0.106, green:0.522, blue:0.890, alpha:1.00)
//
//     static let yellow = UIColor(red:0.976, green:0.827, blue:0.208, alpha:1.00)
//
//     static let purple1 = UIColor(red:0.592, green:0.361, blue:0.910, alpha:1.00)
//     static let purple2 = UIColor(red:0.455, green:0.408, blue:0.914, alpha:1.00)
//
//     static let green = UIColor(red:0.545, green:0.843, blue:0.216, alpha:1.00)
//
//     static let white = UIColor(red: 0.890, green: 0.949, blue: 0.988, alpha:1.00)
//
//     static let dark3 = UIColor(red: 0.376, green: 0.373, blue: 0.369, alpha: 1.00)
// }
//
// struct HabitColor {
//     static let completed = CustomColor.blueLight
//     static let due = CustomColor.blueDark
//     static let notDue = CustomColor.purple1
//     static let skipped = CustomColor.pinkHot
// }
//
// extension UIColor {
//     var hexString: String {
//         let components = self.cgColor.components
//
//         let red = Float((components?[0])!)
//         let green = Float((components?[1])!)
//         let blue = Float((components?[2])!)
//         return String(format: "#%02lX%02lX%02lX", lroundf(red * 255), lroundf(green * 255), lroundf(blue * 255))
//     }
// }
