.nav-bar {
  flex: 0 1 auto;
  background-color: #0A0B1A;
  width: 100%;
  padding: 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

///////////////////
// Medium pieces //
///////////////////

.nav-left {
  margin-left: 22px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-center {
  border-radius: 12px;
  border: 1px solid gray;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-center:hover {
  cursor: pointer;
  // background-color: #1A1B25;
  border: 1px solid #E3F2FC;
}

.nav-right {
  margin-right: 22px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

//////////////////
// Small pieces //
//////////////////

.nav-img {
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0px 15px;
  padding: 0;
}

.nav-img:hover {
  cursor: pointer;
}

#list-img:hover {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490021244/list_filled_rt9snf.png');
}

#add-img:hover {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490206752/add_note_filled_y5td7r.png');
}

#settings-img:hover {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490021244/settings_filled_p0qaip.png');
}

#user-img:hover {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490021244/user_filled_luttu1.png');
}

#play-img {
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0px 12px 0px 15px;
  padding: 0;
}

.due-text {
  margin-right: 20px;
  min-width: 95px;
  text-align: right;
}

.nav-center:hover img {
  content: url('http://res.cloudinary.com/oblaka/image/upload/v1490021244/play_filled_ewt9ny.png');
}
