.note {
  background-color: #0A0B1A;

  // full height of body
  display: flex;
  flex-flow: column;

  // take up the remainder of width
  flex: 1 1 auto;

  margin: 28px 28px 28px 0px;


  border-radius: 12px;
  border: 1px solid gray;
}

.note-header {
  flex: 0 1 auto;
  padding: 16px;
}

.note-header-text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.note-body {
  flex: 1 1 auto;
  background-color: blue;
}

.note-footer {
  flex: 0 1 auto;
}
