.notes-index-component {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes-index-header {
  flex: 0 1 auto;
  margin: 14px 12px 8px 12px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.notes-index-header p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-right: 8px;
  margin-left: 12px;
}

.notes-index-container {
  flex: 1 1 auto;
  max-height: 100%;
  overflow: scroll;
}

.notes-index-item {
  background-color: #0A0B1A;
  padding: 8px 10px;
  margin: 10px 12px;
  border-radius: 12px;
  border: 1px solid gray;
}

.notes-index-item:hover {
  cursor: pointer;
  background-color: #1A1B25;
}

#selected-notes-index-item {
  // background-color: #8d4de8;
  // border: 1px solid #3e71e0;
  border: 1px solid #7ed43a;
  // background-color: #1A1B25;
}

#selected-notes-index-item * {
  color: #7ed43a;
}
