.note {
  background-color: #0A0B1A;

  // full height of body
  display: flex;
  flex-flow: column;

  // take up the remainder of width
  flex: 1 1 auto;

  margin: 28px 28px 28px 0px;


  border-radius: 12px;
  border: 1px solid gray;

  justify-content: center;
}

.note-header {
  flex: 0 1 auto;
  padding: 16px;
  margin: 12px 0px;
}

.note-header-text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.note-body {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

.note-body-sub {
  border-radius: 12px;
  border: 1px solid gray;
  width: 50%;
  padding: 12px;
  font-family: 'Courier New', monospace
}

#note-body-left {
  margin: 0px 12px 0px 24px;
}

#note-body-right {
  margin: 0px 24px 0px 12px;
}

.code {
  font-family: 'Courier New', monospace
}

.note-footer {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0px 30px;
  margin: 6px 0px 12px 0px;
}

.note-footer-repl {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.note-footer-right {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}

.note-footer-repl-text {
  font-size: 24px;
  font-weight: 400;
}

.note-footer-img {
  height: 50px;
  width: 50px;
  padding: 16px;
}

#note-footer-toggle {

}

#note-footer-trash {
  padding-right: 28px;
}

#note-footer-save {

}

.null-note-message {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  color: gray
}
