.notes-index-header {
  margin: 12px;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.notes-index-item {
  background-color: #0A0B1A;
  padding: 8px 14px;
  margin: 10px 10px;
  border-radius: 12px;
  border: 1px solid gray;
}
