.search {
  // background-color: #0A0B1A;
  background-color: green;

  // full height of body
  display: inline-block;
  vertical-align: top;

  width: 150px;
  
  // padding:10px;
  // margin-left: 10px;
}
