.search {
  background-color: #0A0B1A;

  // full height of body
  display: inline-block;
  vertical-align: top;

  width: 375px;
  min-width: 375px;
  margin: 28px;

  border-radius: 12px;
  border: 1px solid gray;
}
